extends ../shared/template
block content

  #controls
    #visibility
      button.pink#hide Hide Form
      button.pink#show Show Form

    form(method='post', action='/recipes')
      select(name='Category')
        option Rabbit Food
        option Gluttony Day
        option Indigenous Exploitation
      input(name='name', type='text', placeholder='Chicken', autofocus=true)
      input(name='photo', type='text', placeholder='Image URL')
      input(name='ingredients', type='text', placeholder='chicken, water, eggs')
      textarea(name='directions')
      button.blue Add Recipe

  ul#categories
    li: a(href='#') Rabbit Food
    li: a(href='#') Gluttony Day
    li: a(href='#') Indigenous Exploitation

  #recipes
    each recipe in recipes
      include recipe

  footer &copy; 2014, Melanie Fryman
